
  .container{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    width: fit-content;
  }
  .example-form {
  
    width: 400px;
    
  }



  